.body {
    height: 600px;
    background-color: rgb(80, 80, 80);
}

.body img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.img {
    animation: switch 0.5s ease-in;
}

@keyframes switch {
    from {
        transform: scale(0.95);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}
