.slider {
    margin: 65px auto;
    position: relative;
    width: 100%;
    max-width: 600px;
    animation: showSlider 0.5s ease-in;
}

@keyframes showSlider {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
